<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <app-header></app-header>
    <body>
        <br>
<table >
    <tr>
        <td></td>
        <td>
        <a href="registerstaff" target="iframe_display"><button type="submit">Create Staff</button></a>  
        </td>
        <td>
            <a href="viewstaff" target="iframe_display"> <button type="submit">View Staff</button></a>
        </td>
    </tr>
</table>
<br>
<div style="margin-left: auto; margin-right: auto;">
    <iframe height="550" width="700" name="iframe_display">

    </iframe>
</div>

    </body>

</html>
