
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <app-header></app-header>
    <body>
        <br><br>
        <div>
            
        <form [formGroup]="profileForm" (ngSubmit)="submit()">
            <br>
            <h4 style="text-align: center; color: rgb(222, 42, 42);">Please fill the form to Register</h4>
            <table>
                <tr>
                    <td class="label"> First Name</td>
                    <td><input type="text" placeholder="Enter First Name" name="firstName" formControlName="firstName"></td>
                </tr>
                <br>
                <tr>
                    <td class="label">Last Name</td>
                    <td><input type="text" placeholder="Enter Last Name" name="lastName" required formControlName="lastName"></td>
                </tr>
                <br>
                <tr>
                    <td class="label"> Username</td>
                    <td><input type="text" placeholder="Enter username" name="userName" required formControlName="userName"></td>
                </tr>
                <br>
                <tr>
                    <td class="label">Password</td>
                    <td><input type="text" placeholder="Enter password" name="password" formControlName="password"></td>
                </tr>
                <br>
                <tr>
                    <td class="label">Email</td>
                    <td> <input type="text" placeholder="Enter email" name="email" formControlName="email"></td>
                </tr>
                <br>
                <tr>
                    <td class="label">Phone</td>
                    <td><input type="text" placeholder="Enter Phone" name="phone" formControlName="phone"><br></td>
                </tr>
                <br>
                <tr>
                    <td class="label">SSN</td>
                    <td><input type="text" placeholder="Enter SSN" name="ssn" formControlName="ssn"><br><br></td>
                </tr>
                <tr>
                    
                        <td></td>
                        <td>
                        <select class="ques"id="securityQ" name="securityQ">
                            <option>Choose Security Question Here </option>
                            <option>What was the make of your first car?</option>
                            <option>What highschool did you attend?</option>
                            <option>In what city were you born?</option>
                            <option>What is your mother's maiden name?</option>
                            <option>What is the name of your first pet?</option> 
                        </select>
                    </td>
                </tr>
                <br>
                <tr>
                    <td class="label">Security Answer</td>
                    <td><input type="text" placeholder="Enter Security Answer" name="securityQuestion" formControlName="securityQuestion"></td>   
                </tr>
                <br>
                <tr>
                    <td></td>
                    <td><button type="submit">Register</button></td> 
                </tr>
                
                <tr>
            
                </tr>
                
            </table>
        
        </form>
    </div>
    <br><br>

    </body>
    <app-footer></app-footer>






<!-- <form [formGroup]="profileForm" (ngSubmit)="submit()">
    <div class="imgcontainer">
 
    </div>
    <div class="jumbotron text-center">
        <div class="container">
            <h4>
                <input type="text" placeholder="Enter username" name="userName" required formControlName="userName">
           
                <br>
                <input type="text" placeholder="Enter password" name="password" formControlName="password">
                <br>
                <input type="text" placeholder="Enter ssn" name="ssn" required formControlName="ssn">
           
                <br>
                <input type="text" placeholder="Enter First Name" name="firstName" formControlName="firstName">
                <br>
                <input type="text" placeholder="Enter Last Name" name="lastName" required formControlName="lastName">
           
                <br>
                <input type="text" placeholder="Enter email" name="email" formControlName="email">
                <br>
                <br>
                <input type="text" placeholder="Enter Phone" name="phone" formControlName="phone">
                <br><br>
 
                 <button type="submit">Register</button><br>
            </h4>
            <h1 style="color:green">{{acknowledgement | uppercase}}</h1>
        </div>
    </div>
 </form>  -->
 
 <!-- <div class="jumbotron text-center">
    <h1 style="color:green">{{acknowledgement | uppercase}}</h1>
</div> 
 
<h1 [ngStyle]="{'background-color':'green', 'color':'white'}">Welcome back, friend.</h1> -->


