<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <app-header></app-header>
    <body>
        <div class="imgdiv" [style.background-image]="'url(/assets/images/choice1.jpg)'">
        <br>
        <div>
            
        <form action="" method="POST">
            <h2 style="text-align: center;">Register</h2>
            <table>
                <tr>
                    <td class="label"> First Name</td>
                    <td><input  type="text" placeholder="Enter first name" name="fname" id="name"/></td>
                </tr>
                <tr>
                    <td class="label">Last Name</td>
                    <td><input  type="text" placeholder="Enter last name" name="lname" id="name"/></td>
                </tr>
                <tr>
                    <td class="label"> Username</td>
                    <td><input  type="text" placeholder="User name" name="uname" id="name"/></td>
                </tr>
                <tr>
                    <td class="label">Password</td>
                    <td><input  type="password" placeholder="Password" name="pwd" id="name"/></td>
                </tr>
                <tr>
                    <td class="label">Email</td>
                    <td> <input  type="text" placeholder="Email" name="email" id="name"/></td>
                </tr>
                <tr>
                    <td class="label">Phone</td>
                    <td><input  type="text" placeholder="Phone" name="name" id="name"/><br><br></td>
                </tr>
                <tr>
                    
                        <td></td>
                        <td>
                        <select class="ques"id="securityQ" name="securityQ">
                            <option>Choose Security Question Here </option>
                            <option>What was the make of your first car?</option>
                            <option>What highschool did you attend?</option>
                            <option>In what city were you born?</option>
                            <option>What is your mother's maiden name?</option>
                            <option>What is the name of your first pet?</option> 
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" /></td>   
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit">Register</button></td> 
                </tr>
            </table>
        
        </form>
    </div>
</div>
    </body>
    <app-footer></app-footer>
</html>
