div{
    background-color: whitesmoke;
    width: 650px;
    height: 600px;
    margin-left: auto; 
    margin-right: auto;
}
form{
    margin: auto;
    justify-content: center;
    text-align:center;
   
}
input{
    padding: 1px;
     border: 1px solid #ccc;
     border-radius: 4px;
   }
   button{
    padding: 8px;
    width: 150px;
    border: 1px solid #ccc;
    background-color: #24a0ed;
    border-radius: 4px;
  }
  button:hover{
    background-color: #0c5989;
    cursor: pointer;
  }
  table{
    margin-left: auto; 
    margin-right: auto;
  }
  .imgdiv{
    height: 900px;
       }