<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <button class="btn btn-danger btn-rounded" (click)="readStaff()"> Display Staff</button>
        <table>
            <tr>
                <td>Staff Id</td>
                <td>Username</td>
                <td>First Name</td>
                <td>Last Name</td>
              
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.fname}}  </td>
                <td>{{user.lname}}  </td>
                
            
               
            </tr>
        </table>
    </body>
</html>
