<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <td>Staff Id</td>
                <td>Username</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Status</td>
            </tr>
            <tr>
                <td></td>
                <td>  </td>
                <td>  </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
    </body>
</html>
