<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div>
<form [formGroup]="profileForm" (ngSubmit)="submit()" >
    <h2 style="text-align: center; color:green;">Add Staff</h2>
    <table>
       
        <tr>
            <td><input  type="text" placeholder="Enter staff First Name" name="fname" id="name" formControlName="fname" required /></td>
        </tr>
        <tr>
            <td><input  type="text" placeholder="Enter staff Last Name" name="lname" formControlName="lname" /></td>
        </tr>
        
        <tr>
            <td><input  type="text" placeholder="Enter Staff Username" name="username" formControlName="username"/></td>
        </tr>
        <tr>
            <td><input  type="password" placeholder="Enter Secure Password" name="password" formControlName="password"/></td>
        </tr>
        <!-- 
        <tr>
            <td><input  type="password" placeholder="Re Enter Password" name="password" formControlName="password"/></td>
        </tr> -->
        <tr>
            <td colspan="2"style="color: red;"*ngIf="f['username'].errors?.['minlength']" [ngClass] = "'error'">username length must be 4</td>
            
        </tr>
        <tr>
            <td colspan="2"style="color: red;"*ngIf="f['password'].errors?.['minlength']" [ngClass] = "'error'">password length must be 4</td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <button type="submit">Create</button>
            </td>
        </tr>
        </table>
        </form>
        </div>
        </body>
        </html>
