
<head>
  <style>

  </style>
</head>


  <td> <button (click)="readUser()">Display Beneficiaries</button></td>
  <h1 style="color: green; margin-left:270px; ">List of Beneficiaries is here</h1>
  <table style="width:100%">
      <tr>
          <th scope="col">#</th>
      <th>Beneficiary First Name for customer 1</th>
      <th>Beneficiary Last Name</th>
      <th>Beneficiary ssn</th>

 
      </tr>
      <tr *ngFor="let beneficiary of beneficiarys">
          <th scope="row">#</th>
          <td>{{beneficiary.bfirstName}}</td>
          <td>{{beneficiary.lastName}}</td>
          <td>{{beneficiary.ssn}}</td>
          <td>{{beneficiary.bid}}</td>
          <td> <button class="btn" (click)="deleteUser(beneficiary.bid, beneficiary.customerId)"> Delete User</button></td>
   
      </tr>
  </table>

