<!-- <p>dashboard works!</p> -->
<head>
    <style>
div {
  width: 300px;
  height: 500px;
  border: 10px solid green;
  padding: 10px;
  margin: 10px;
}
div.thick {
  font-weight: bold;
  font-size: larger;
}
table, th, td {
  border: 1px solid;
}

body{
      background-image: url("/assets/images/choice5.jpg");
      background-repeat: no-repeat;
      background-color: #cccccc;
      background-size: cover;
    }

    </style>
</head>
<app-header></app-header>
<body>

<h1 style="text-align: center; color: white;">Customer Dashboard</h1>

        <div style="width:300px; float:left; font-weight: bold; font-size: larger;">
            <a href="createaccount"><ul style = "height: 75px;">Create Account</ul></a>
            <a href="addbeneficiary"><ul style = "height: 75px;" >Add Beneficiary</ul></a>
            <a href="removebeneficiary"><ul style = "height: 75px;">Remove Beneficiary</ul></a>
            <a href="transfermoney"><ul style = "height: 75px;">Transfer Money</ul></a>
            <a href="viewstatement"><ul style = "height: 75px;" > View Statement</ul></a>
        </div>
        <div style="width:450px; float:right;">
            <table style="width:100%">
                <tr>
                    <th>Account Number</th>
                    <th>Account Balance</th>
                    <th>Account Type  </th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>Creidt</td>
                </tr>
            </table>
        </div>

    </body>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <app-footer></app-footer>