<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>


  </style>
</head>
<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <!-- <form action="action_page.php" method="post"> -->
    <table style= "margin-left:270px; font-size: large; ">
      <tr>
        <th style="color: green; font-size: 30px;">Add Beneficiary</th>
      </tr>
      <tr style=" font-size: 25px;">Enter Beneficiary First Name</tr>
      <tr><input type="text" placeholder="Enter Beneficiary First Name" name="bfirstName" required formControlName="bfirstName"></tr>
      <br>
   <tr style="font-size: 25px;">Enter Beneficiary Last Name</tr>
   <tr><input type="text" placeholder="Enter Beneficiary Last Name" name="lastName" required formControlName="lastName"></tr><br>
  
   <tr style="font-size: 25px;">Enter Beneficiary ssn</tr>
  <tr><input tyep="text" placeholder="Enter Beneficiary ssn" name="ssn" required formControlName="ssn"></tr><br><br>

  <tr><button type="submit">Submit</button></tr>
</table>
  
</form>

