<!DOCTYPE html>
<html>
<head>
</head>
<app-header></app-header>
<body>

<div class="vertical-menu">    
  <a  class="active"></a>
  <a href="transfermoney" target="iframe_display">Transfer By Account Number</a>
  <a href="" target="iframe_display">Approve Account</a>
  <a href="approvebeneficiary" target="iframe_display">Approve Beneficiary</a>
  <a href="" target="iframe_display">Enable/Block  Customer</a>
</div>
<div style="margin-left: auto; margin-right: auto;">
    <iframe height="690" width="1100" name="iframe_display">

    </iframe>
</div>
</body>

</html>
