<!-- <ul>
    <li style="float:left;"><a href=""><img src="/assets/images/banklogo.jpg" alt="bank Logo" height="70" width="70" /></a></li>
    <li class="left"><a href="stafflogin">Staff</a></li>
    <li class="left"> <a href="adminlogin">Admin</a></li>
    <li class="left"><a>Contact</a></li>
    <li class="left"><a>About</a></li>
 </ul> -->


 
 <!-- Footer -->
 
<footer class="bg-dark text-center text-white">
   
    <div class="container p-4">
    
      <section class="mb-4">

      </section>
      
      <section class="">
        <form action="">
         
          <div class="row d-flex justify-content-center">
         
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            
            <div class="col-md-5 col-12">
           
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" placeholder="Email address"/>
              </div>
            </div>
           
            <div class="col-auto">
              
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
           
          </div>
          
        </form>
      </section>
    
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
   
      <section class="">
       
        <div class="row">
         
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Follow us @:</h5>
  
          </div>
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Twitter</h5>
             
          </div>
       
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Facebook</h5>
  
            <!-- <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Instgram</a>
              </li>
             
              
            </ul> -->
          </div>
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">LinkedIn</h5>
  
            <!-- <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Snapchat</a>
              </li> 
             
            </ul> -->
          </div>
        
        </div>
       
      </section>
     
    </div>
   
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" >Rijo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tsion   
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
         Daniel   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
          Bryan</a>
    </div>
   
  </footer>
 