
<head>
  <style></style>
  
</head>
 
<h1 style="text-align: center;">
  Staff Dashboard
</h1> <hr>

<div class="rightbox">
<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <!-- <form action="action_page.php" method="post"> -->
  <div class="imgcontainer">
 
  </div>
  <div class="jumbotron text-center">
    <td> <button (click)="readUser()">Display Beneficiaries</button></td>
    <hr><h1>List of Beneficiaries is here</h1>
    <table>
        <tr>
            <th scope="col">#</th>
        <th>Beneficiary Id</th>
        <th>Beneficiary approval</th>
        </tr>
        <tr *ngFor="let approvebeneficiary of approvebeneficiarys">
            <th scope="row">#</th>
            <td>{{approvebeneficiary.bid}}</td>
            <td>{{approvebeneficiary.approved}}</td>
        </tr>
    </table>
    <hr>
    <h2 style="color:green">Approve Beneficiaries</h2>
    
      <div class="container">
              <h3>Enter Bid</h3>
              <input type="text" placeholder="Enter Bid" name="bid" required formControlName="bid">
              <h3>Enter Approve Status "yes" or "no"</h3>
              <input type="text" placeholder="Enter To Approval" name="approved" required formControlName="approved">
              <br><br>
              <button type="submit">Submit</button><br>
         
      </div>
  </div>
</form>
</div>
