
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>

  </style>
</head>


<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <!-- <form action="action_page.php" method="post"> -->

    <h1 style="color: green; margin-left:270px; ">Transfer Money</h1><br>
      <div>
        <h4>Enter From Account Number</h4>
        <input type="text" placeholder="Enter From Account Number" name="fromAccNumber" required formControlName="fromAccNumber">
        <br><br>
        <h4>Enter To Account Number</h4>
        <input type="text" placeholder="Enter To Account Number" name="toAccNumber" required formControlName="toAccNumber">
        <br><br>
        <h4>Enter Amount</h4>
        <input type="text" placeholder="Enter Amount" name="amount" required formControlName="amount">
        <br><br>
        <h4>Enter Reason</h4>
        <input type="text" placeholder="Enter Reason" name="reason" required formControlName="reason">
        <br><br>
        
          <button type="submit">Submit</button><br>
        
        
      </div>
             
         
</form>
